
@{
    ViewBag.Title = "svar";
}

<h2>svar</h2>
<h3>@ViewData["info"]</h3>
<h3>@ViewBag.msg</h3>
@*<h3>@TempData.Peek("data")</h3>*@
<h3>@TempData["data"]</h3>


<p>
    @{
        TempData.Keep("data");
    }
</p>
<br />
<br />
<a href="/Default/Second">Goto Second</a>